<div class="absolute left-0 top-0 right-0">
    <div class="center-content px-6">
        <header class="">

            <a href="/hotel/">Hotel</a>
            <a href="/pages/first">First</a>
            <a href="/pages/second">second</a>
        </header>
    </div>
</div>
